{% extends 'base.html' %}
{% block title %}{{ SITENAME }} - {{ article.title|striptags }}{% endblock %}

{% block content %}

{% include 'nav.html' %}
<section class="blog-list-group hero-content mt-5">

    <div class="_container" style="flex-direction: column; align-items: flex-start;">

        <p class="display-4 text-white">{{article.title}}</p>
        <div class="tags">
            {% if article.tags %}
            {% for tag in article.tags %}

            <div class="badge bg-primary text-wrap">
                <a href="{{ SITEURL }}/{{ tag.url }}" class="text-decoration-none text-white">{{tag}}</a>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="image-container m-5">

            <img src="{{article.banner}}" class="img-fluid" alt="banner-image">
        </div>

        <div class="markdown-content text-white">
            <div class="fs-2 mt-3">{{article.subheading}}</div>
            <div class="section-content mt-1">
                {{article.content}}
            </div>
        </div>
    </div>

</section>
<footer>
    <div class=" container">
        <p>&copy; 2023 vivekthedev. &nbsp;
            Powered by <a href="https://getpelican.com/">Pelican</a></p>
    </div>
</footer>
{% endblock content %}