<nav class="_navbar">
    <div class="_container">
        <div class="logo-group">
            <a href="/"><img src="/{{REPNAME}}/theme/images/logo-main.png" alt="vivekthedev"></a>
        </div>
        <div class="links-group">
            <a href="archives.html">Blog</a>
            <a href="guestpost.html">Guest Posts</a>
            <a href="projects.html">Projects</a>
            <a href="https://drive.google.com/file/d/1U5ARCKEPvhfoONSnIXYsMaB5IF38evbL/view?usp=drive_link">Resume</a>
        </div>
    </div>
</nav>