{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<section class="blog-list-group hero-content mt-5" style="flex-direction: column;width: 50%;margin: 0 auto;">


    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/theme/images/techpuzzle.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">TechPuzzle</h5>

                    <p class="card-text">Crack the puzzle where each level challenges your CS skills.</p>
                    <p class="card-text"><small class="text-body-secondary"> <a
                                href="https://github.com/vivekthedev/techpuzzle-pygame"> View on GitHub</a></small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/theme/images/text_vault.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Text Vault</h5>

                    <p class="card-text">Securly store your notes, links or any other text with SHA256.</p>
                    <p class="card-text"><small class="text-body-secondary"> <a
                                href="https://github.com/vivekthedev/text-vault"> View on GitHub</a></small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/theme/images/quizter.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Quizter</h5>

                    <p class="card-text">Create, Share, Solve Quizzes on variety of Subjects.</p>
                    <p class="card-text"><small class="text-body-secondary"> <a
                                href="https://github.com/vivekthedev/quiz-application"> View on GitHub</a></small></p>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock content %}